@using MoviePro.Models.TMDB
@model MoviePro.Models.ViewModels.LandingPageVM

@{
	ViewData["Title"] = "Movie Pro";
}


@*<section class="px-4">
	<div class="row">
		<span class="btn btn-lg btn-danger">NOW PLAYING</span>
	</div>
	<div class="row">
		<div class="carousel slide carousel-fade" data-bs-ride="carousel">
			<div class="carousel-inner">
				@{
					classText = "active";
					for (var slide = 0; slide < 3; slide++)
					{


						<div class="carousel-item @classText">
							<div class="row">
								@foreach (var movie in Model.NowPlaying.results.Skip(slide * 4).Take(4))
								{
									<div class="col-sm-3 mb-2">
										<div class="card" style="width: 18rem;">
											<img src="@movie.poster_path" class="card-img-top" alt="movie poster">
											<div class="card-body">
												<h5 class="card-title clampTitle">@movie.title</h5>
												<p class="card-text clampOverview">@movie.overview</p>
												<div class="d-grid gap-2">
													<a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id" class="btn btn-lg btn-danger ">Details</a>
												</div>
											</div>
										</div>
									</div>
								}
							</div>
						</div>
						classText = "";
					}
				}
			</div>
		</div>
	</div>
</section>

<section class="px-4">
	<div class="row">
		<span class="btn btn-lg btn-danger">POPULAR</span>
	</div>
	<div class="row">
		<div class="carousel slide carousel-fade" data-bs-ride="carousel">
			<div class="carousel-inner">
				@{
					classText = "active";
					for (var slide = 0; slide < 3; slide++)
					{


						<div class="carousel-item @classText">
							<div class="row">
								@foreach (var movie in Model.Popular.results.Skip(slide * 4).Take(4))
								{
									<div class="col-sm-3 mb-2">
										<div class="card" style="width: 18rem;">
											<img src="@movie.poster_path" class="card-img-top" alt="movie poster">
											<div class="card-body">
												<h5 class="card-title clampTitle">@movie.title</h5>
												<p class="card-text clampOverview">@movie.overview</p>
												<div class="d-grid gap-2">
													<a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id" class="btn btn-lg btn-danger ">Details</a>
												</div>
											</div>
										</div>
									</div>
								}
							</div>
						</div>
						classText = "";
					}
				}
			</div>
		</div>
	</div>
</section>

<section class="px-4">
	<div class="row">
		<span class="btn btn-lg btn-danger">TOP RATED</span>
	</div>
	<div class="row">
		<div class="carousel slide carousel-fade" data-bs-ride="carousel">
			<div class="carousel-inner">
				@{
					classText = "active";
					for (var slide = 0; slide < 3; slide++)
					{


						<div class="carousel-item @classText">
							<div class="row">
								@foreach (var movie in Model.TopRated.results.Skip(slide * 4).Take(4))
								{
									<div class="col-sm-3 mb-2">
										<div class="card" style="width: 18rem;">
											<img src="@movie.poster_path" class="card-img-top" alt="movie poster">
											<div class="card-body">
												<h5 class="card-title clampTitle">@movie.title</h5>
												<p class="card-text clampOverview">@movie.overview</p>
												<div class="d-grid gap-2">
													<a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id" class="btn btn-lg btn-danger ">Details</a>
												</div>
											</div>
										</div>
									</div>
								}
							</div>
						</div>
						classText = "";
					}
				}
			</div>
		</div>
	</div>
</section>
*@

<!-- home -->
<section class="home">
	<!-- home bg -->
	<div class="owl-carousel home__bg">
		<div class="item home__cover" data-bg="img/home/home__bg1.jpg"></div>
		<div class="item home__cover" data-bg="img/home/home__bg2.jpg"></div>
		<div class="item home__cover" data-bg="img/home/home__bg3.jpg"></div>
		<div class="item home__cover" data-bg="img/home/home__bg4.jpg"></div>
	</div>
	<!-- end home bg -->

	<div class="row">
		<div class="col-12">
			<h1 class="home__title"><b>NEW ITEMS</b> OF THIS SEASON</h1>

			<button class="home__nav home__nav--prev" type="button">
				<i class="icon ion-ios-arrow-round-back"></i>
			</button>
			<button class="home__nav home__nav--next" type="button">
				<i class="icon ion-ios-arrow-round-forward"></i>
			</button>
		</div>

		<div class="col-12">
			<div class="owl-carousel home__carousel">

				@for (var slide = 0; slide < 3; slide++)
				{

					@foreach (MovieSearchResult movie in Model.UpComing.results.Skip(slide * 4).Take(4))
					{
						var classText = "active";
						<div class="item @classText">
							<!-- card -->
							<div class="card card--big">
								<div class="card__cover">
									<img src="@movie.poster_path" alt="">
									<a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.id">@movie.title</a></h3>
									<span class="card__category">
										<a href="#">@movie.release_date.Substring(0, 4)</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>@movie.vote_average</span>
								</div>
							</div>
							<!-- end card -->
						</div>
						classText = "";
					}
				}
			</div>
		</div>
	</div>
</section>
<!-- end home -->
<!-- content -->
<section class="content">
	<div class="content__head">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- content title -->
					<h2 class="content__title">New items</h2>
					<!-- end content title -->
					<!-- content tabs nav -->
					<ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">NOW PLAYING</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">POPULAR</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">TOP RATED</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#tab-4" role="tab" aria-controls="tab-4" aria-selected="false">UPCOMING</a>
						</li>
					</ul>
					<!-- end content tabs nav -->
					<!-- content mobile tabs nav -->
					<div class="content__mobile-tabs" id="content__mobile-tabs">
						<div class="content__mobile-tabs-btn dropdown-toggle" role="navigation" id="mobile-tabs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<input type="button" value="New items">
							<span></span>
						</div>

						<div class="content__mobile-tabs-menu dropdown-menu" aria-labelledby="mobile-tabs">
							<ul class="nav nav-tabs" role="tablist">
								<li class="nav-item"><a class="nav-link active" id="1-tab" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">NOW PLAYING</a></li>

								<li class="nav-item"><a class="nav-link" id="2-tab" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">POPULAR</a></li>

								<li class="nav-item"><a class="nav-link" id="3-tab" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">TOP RATED</a></li>

								<li class="nav-item"><a class="nav-link" id="4-tab" data-toggle="tab" href="#tab-4" role="tab" aria-controls="tab-4" aria-selected="false">UPCOMING</a></li>
							</ul>
						</div>
					</div>
					<!-- end content mobile tabs nav -->
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<!-- content tabs -->
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
				<div class="row">
					@foreach (MovieSearchResult movie in Model.NowPlaying.results.Take(6))
					{
						<!-- card -->
						<div class="col-6 col-sm-12 col-lg-6">
							<div class="card card--list">
								<div class="row">
									<div class="col-12 col-sm-4">
										<div class="card__cover">
											<img src="@movie.poster_path" alt="">
											<a href="#" class="card__play">
												<i class="icon ion-ios-play"></i>
											</a>
										</div>
									</div>

									<div class="col-12 col-sm-8">
										<div class="card__content">
											<h3 class="card__title"><a href="#">@movie.title</a></h3>
											<span class="card__category">
												<a href="#">Action</a>
												<a href="#">Thriller</a>
											</span>

											<div class="card__wrap">
												<span class="card__rate"><i class="icon ion-ios-star"></i>@movie.vote_average</span>

												<ul class="card__list">
													<li>HD</li>
													<li>16+</li>
												</ul>
											</div>

											<div class="card__description">
												<p>@movie.overview</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- end card -->
					}
				</div>
			</div>

			<div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="2-tab">
				<div class="row">
					@foreach (MovieSearchResult movie in Model.Popular.results.Take(6))
					{
						<!-- card -->
						<div class="col-6 col-sm-12 col-lg-6">
							<div class="card card--list">
								<div class="row">
									<div class="col-12 col-sm-4">
										<div class="card__cover">
											<img src="@movie.poster_path" alt="">
											<a href="#" class="card__play">
												<i class="icon ion-ios-play"></i>
											</a>
										</div>
									</div>

									<div class="col-12 col-sm-8">
										<div class="card__content">
											<h3 class="card__title"><a href="#">@movie.title</a></h3>
											<span class="card__category">
												<a href="#">Action</a>
												<a href="#">Thriller</a>
											</span>

											<div class="card__wrap">
												<span class="card__rate"><i class="icon ion-ios-star"></i>@movie.vote_average</span>

												<ul class="card__list">
													<li>HD</li>
													<li>16+</li>
												</ul>
											</div>

											<div class="card__description">
												<p>@movie.overview</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- end card -->
					}
				</div>
			</div>

			<div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="3-tab">
				<div class="row">
					@foreach (MovieSearchResult movie in Model.TopRated.results.Take(6))
					{
						<!-- card -->
						<div class="col-6 col-sm-12 col-lg-6">
							<div class="card card--list">
								<div class="row">
									<div class="col-12 col-sm-4">
										<div class="card__cover">
											<img src="@movie.poster_path" alt="">
											<a href="#" class="card__play">
												<i class="icon ion-ios-play"></i>
											</a>
										</div>
									</div>

									<div class="col-12 col-sm-8">
										<div class="card__content">
											<h3 class="card__title"><a href="#">@movie.title</a></h3>
											<span class="card__category">
												<a href="#">Action</a>
												<a href="#">Thriller</a>
											</span>

											<div class="card__wrap">
												<span class="card__rate"><i class="icon ion-ios-star"></i>@movie.vote_average</span>

												<ul class="card__list">
													<li>HD</li>
													<li>16+</li>
												</ul>
											</div>

											<div class="card__description">
												<p>@movie.overview</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- end card -->
					}
				</div>
			</div>

			<div class="tab-pane fade" id="tab-4" role="tabpanel" aria-labelledby="4-tab">
				<div class="row">
					@foreach (MovieSearchResult movie in Model.UpComing.results.Take(6))
					{
						<!-- card -->
						<div class="col-6 col-sm-12 col-lg-6">
							<div class="card card--list">
								<div class="row">
									<div class="col-12 col-sm-4">
										<div class="card__cover">
											<img src="@movie.poster_path" alt="">
											<a href="#" class="card__play">
												<i class="icon ion-ios-play"></i>
											</a>
										</div>
									</div>

									<div class="col-12 col-sm-8">
										<div class="card__content">
											<h3 class="card__title"><a href="#">@movie.title</a></h3>
											<span class="card__category">
												<a href="#">Action</a>
												<a href="#">Thriller</a>
											</span>

											<div class="card__wrap">
												<span class="card__rate"><i class="icon ion-ios-star"></i>@movie.vote_average</span>

												<ul class="card__list">
													<li>HD</li>
													<li>16+</li>
												</ul>
											</div>

											<div class="card__description">
												<p>@movie.overview</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- end card -->
					}
				</div>

			</div>
		</div>
		<!-- end content tabs -->
	</div>
</section>
<!-- end content -->